<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon class="icon" slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="icon" slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><span class="title">A</span>HEER<span style="margin-left: 10px;"
        class="title">S</span><span>HOPPING</span></ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon class="icon" slot="icon-only" name="person"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="icon" slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>