.new-background-color {
    --background: rgb(196, 0, 39);
    color: white;
    text-align: center;
    font-size: 20px;
    box-sizing: none;
}
.icon {
    color: white;
}
.title {
    font-size: 28px;
    font-weight: 800;
    color: #332727;
}
