.copy{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
}
.new-background-color {
    --background: #C40027;
    color: white;
    text-align: center;
    box-sizing: none;
}