<ion-content>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <div>
      <h1 class="h1">Create your account!</h1>
    </div>
    <ion-list>
      <ion-item>
        <ion-input name="name" type="text" placeholder="Name" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="confirm" type="password" placeholder="Password confirm" ngModel required></ion-input>
      </ion-item>
    </ion-list>
    <div class="btn">
      <ion-button color="dark" type="submit" [disabled]="form.invalid" expand="block">Register
      </ion-button>
    </div>
  </form>
  <div class="register">
    <span>Have an Account </span>
    <a routerLink='/login'>Login</a>?
  </div>
</ion-content>