<ion-content>
  <div class="header">
    <ion-icon name="arrow-back"></ion-icon>
    <h1>My Wishlist</h1>
    <p>10 Item</p>
  </div>
  <div class="main">
    <div class="col">
      <img src="../../assets/products/1.png" width="160" alt="">
      <h5>product name</h5>
      <h6>price</h6>
      <ion-icon name="bag-handle-outline"></ion-icon>
    </div>
    <div class="col">
      <img src="../../assets/products/1.png" width="160" alt="">
      <h5>product name</h5>
      <h6>price</h6>
      <ion-icon name="bag-handle-outline"></ion-icon>
    </div>
    <div class="col">
      <img src="../../assets/products/1.png" width="160" alt="">
      <h5>product name</h5>
      <h6>price</h6>
      <ion-icon name="bag-handle-outline"></ion-icon>
    </div>
    <div class="col">
      <img src="../../assets/products/1.png" width="160" alt="">
      <h5>product name</h5>
      <h6>price</h6>
      <ion-icon name="bag-handle-outline"></ion-icon>
    </div>
    <div class="col">
      <img src="../../assets/products/1.png" width="160" alt="">
      <h5>product name</h5>
      <h6>price</h6>
      <ion-icon name="bag-handle-outline"></ion-icon>
    </div>
    <div class="col">
      <img src="../../assets/products/1.png" width="160" alt="">
      <h5>product name</h5>
      <h6>price</h6>
      <ion-icon name="bag-handle-outline"></ion-icon>
    </div>
    <div class="col">
      <img src="../../assets/products/1.png" width="160" alt="">
      <h5>product name</h5>
      <h6>price</h6>
      <ion-icon name="bag-handle-outline"></ion-icon>
    </div>
    <div class="col">
      <img src="../../assets/products/1.png" width="160" alt="">
      <h5>product name</h5>
      <h6>price</h6>
      <ion-icon name="bag-handle-outline"></ion-icon>
    </div>
    <div class="col">
      <img src="../../assets/products/1.png" width="160" alt="">
      <h5>product name</h5>
      <h6>price</h6>
      <ion-icon name="bag-handle-outline"></ion-icon>
    </div>
    <div class="col">
      <img src="../../assets/products/1.png" width="160" alt="">
      <h5>product name</h5>
      <h6>price</h6>
      <ion-icon name="bag-handle-outline"></ion-icon>
    </div>
  </div>
</ion-content>