<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="tabbaricon" tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tabbaricon" tab="tab2">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Shopping</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tabbaricon" tab="tab3">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>