<ion-content>
  <div class="header">
    <ion-icon name="arrow-back"></ion-icon>
    <h3>SPECIAL OFFER</h3>
  </div>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
  <h1>Offer</h1>
</ion-content>