<ion-content>
  <!-- sec 1 -->
  <ion-grid style="padding-top: 27px;" class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img style="height: 350px;width: 100%;" [src]="s.URL">
            <span class="slide-text">{{s.name}}</span>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <h5>Slider with Space Between</h5>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <span class="slider-nav arrow-prev" (click)="slidePrev(sliderTwo,slideWithNav2)">
          <div class="prev-icon-custom custon-nav" [class.disabled]="sliderTwo.isBeginningSlide"></div>
        </span>
      </ion-col>
      <ion-col size="10">
        <ion-slides pager="false" [options]="slideOptsTwo" #slideWithNav2
          (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
          <ion-slide *ngFor="let s of sliderTwo.slidesItems">
            <img src="https://picsum.photos/seed/picsum/200/300">
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="1">
        <span class="slider-nav arrow-next" (click)="slideNext(sliderTwo,slideWithNav2)">
          <div class="next-icon-custom custon-nav" [class.disabled]="sliderTwo.isEndSlide"></div>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h5>Slider at bottom</h5>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <span class="slider-nav arrow-prev" (click)="slidePrev(sliderThree,slideWithNav3)">
          <div class="prev-icon-custom custon-nav" [class.disabled]="sliderThree.isBeginningSlide"></div>
        </span>
      </ion-col>
      <ion-col size="10">
        <ion-slides pager="false" [options]="slideOptsThree" #slideWithNav3
          (ionSlideDidChange)="SlideDidChange(sliderThree,slideWithNav3)">
          <ion-slide *ngFor="let s of sliderThree.slidesItems">
            <img src="https://picsum.photos/200/300?grayscale">
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="1">
        <span class="slider-nav arrow-next" (click)="slideNext(sliderThree,slideWithNav3)">
          <div class="next-icon-custom custon-nav" [class.disabled]="sliderThree.isEndSlide"></div>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <!-- sec 1 end -->
  <ion-item-divider></ion-item-divider>
  <!-- sec 2 -->
  <div class="sec2">
    <h2>Product 1</h2>
    <div style="position: relative;">
      <img src="../../assets/image/product.png" alt="">
    </div>
    <div class="btn">
      <ion-button size="small" color="light">Shop Now</ion-button>
    </div>
  </div>
  <!-- sec 2 end -->
  <ion-item-divider></ion-item-divider>
  <!-- sec 3 -->
  <div class="sec3">
    <h2>Product 2</h2>
    <div style="position: relative;">
      <img src="../../assets/image/product2.jpg" alt="">
    </div>
    <div class="btn3">
      <ion-button size="small" color="light">Shop Now</ion-button>
    </div>
  </div>
  <!-- sec 3 end-->
  <ion-item-divider></ion-item-divider>
   <!-- sec 4 -->
   <div class="sec4">
    <h2>Product 3</h2>
    <div style="position: relative;">
      <img src="../../assets/image/product3.jpg" alt="">
    </div>
    <div class="btn4">
      <ion-button size="small" color="light">Shop Now</ion-button>
    </div>
  </div>
  <!-- sec 4 end-->
  <ion-item-divider></ion-item-divider>

  

</ion-content>